{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalDecorators": 0
    }
  },
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": ["error", 80],
    "import/extensions": 0,
    "linebreak-style": 0,
    "consistent-return": 0,
    "no-use-before-define": 0,
    "no-else-return": 0,
    "react/prefer-stateless-function": 0,
    "import/no-named-as-default-member": 0,
    "no-underscore-dangle": 0
  }
}