// .panel:global {
//   @import "../../less/index.less";
// }

.panel {
  @import "~bootstrap/less/bootstrap";
}

.image {
  width: 100px;

  img {
    width: 100%;
  }
}

.social-share {
  opacity: 1;
}