@import (reference) "../../less/index.less";

.info {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  img {
    width: 100%;
    min-height: 100px;
  }
  section {
    min-height: 400px;
  }
  .credit-contact {
    display: block;
  }
  .credit-contact-item {
    font-size: 64px;
    padding: 30px 20px 15px 30px;
    color: @text-color;
    :hover {
      color: @link-color;
    }
  }
  .providers {
    padding-top: 20px;
    min-height: 100px;
  }
  .providers-item {
    padding: 15px;
    font-size: @font-size-h4;
    text-decoration: none;
    display: inline-block;
  }
  p {
    font-size: 18px;
  }
}
.p-lead{
  font-size: 24px!important;
}

