@import "~font-awesome/less/font-awesome.less";
@import "~bootstrap/less/bootstrap";

@import './about-reader-content.less';
@import './about-reader.less';
@import './navbar.less';

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@panel-border-radius: 3px;
@body-bg: #eee;

@navbar-height: 40px;

// Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;

@font-size-base: 16px;

@article-height: 500px;

.is-main-page-loading .w-text-loading {
  display: inline!important;
}
.w-text-loading {
  position: relative;
  color: #888;
}
.w-text-loading:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 8em;
  white-space: nowrap;
  color: #555;
  animation: wTextLoadingKeyFrame 10s linear;
}
@keyframes wTextLoadingKeyFrame {
  0% {
    max-width: 0;
  }
}
.w-is-logo-loading {
  vertical-align: top;
}

body {
  padding-top: 50px;
}

@media (max-width: @screen-xs-max) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .w-left-sidebar {
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
}

.inline-block {
  display: inline-block;
}

.w-tag {
  .badge {
    padding: @padding-base-vertical @padding-base-horizontal;
  }
}

.w-m-7 {
  margin: 7px;
}
.w-ml-7 {
  margin-left: 7px;
}
.w-mr-7 {
  margin-right: 7px;
}
.w-mb-7 {
  margin-bottom: 7px;
}
.w-mt-7 {
  margin-top: 7px;
}
.w-m-14 {
  margin: 14px;
}
.w-ml-14 {
  margin-left: 14px;
}
.w-mr-14 {
  margin-right: 14px;
}
.w-mb-14 {
  margin-bottom: 14px;
}
.w-mt-14 {
  margin-top: 14px;
}

.w-p-0 {
  padding: 0px;
}

.w-m-0 {
  margin: 0;
}

.vertical-align-middle {
  vertical-align: middle;
}

p {
  font-size: 16px;
}

.btn.btn-link-muted {
  color: @gray-light;
}
.btn.btn-link-muted:hover {
  text-decoration: underline;
}

.blind-link,
.blind-link:hover {
  text-decoration: initial;
  color: @gray-dark;
}

.w-text-overflow {
  .text-overflow();
}

.nav.nav-pills {
  li.active > a {
    background-color: inherit;
    color: @text-color;
    border-bottom: 2px solid @link-color;
  }
  li:hover > a {
    background-color: inherit;
    border-bottom: 2px solid @gray;
  }
}

.form-textarea-content {
  .resizable(vertical);
}
