@import (reference) "../../less/index.less";

.navbar {
  :global {
    .container {
      overflow-x: initial;
    }
  }
}
.logo {
  img {
    display: inline-block;
  }
  span {
    vertical-align: middle;
    color: @gray-dark;
  }
}
.profile-item {
  padding-top: 8px;
  text-align: center;
  :global {
    a {
      background-color: transparent !important;
      color: @gray !important;
    }
  }
}
.profile-content {
  display: block;
}
.profile-icon {
  font-size: 32px;
}

