@import (reference) "../../less/index.less";

@image-height-md: 152px;

.article {
  width: 270px;
  position: relative;
  white-space: normal;
}

.article-full {
  height: @article-height;
}

.article-no-image {
  height: (@article-height * 0.66) - 2px;
}

.article-no-description {
  height: (@article-height / 3) - 10px;
  background-size: cover;
  .image-placeholder();
  :global {
    .panel-body {
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4);
      * {
        color: #eee;
      }
    }
  }
}

.article-show-mock-image {
  .article-full();
}

.image,
.image:hover {
  text-decoration: none;
}

.image > img,
.mock-image {
  display: block;
  width: 100%;
  max-height: 200px;
  min-height: 100px;
  .image-placeholder();
}

.image-placeholder {
  background-color: @gray;
}

.mock-image {
  position: relative;
  height: @image-height-md;
  text-align: center;
  padding-top: 18px;
}

.mock-image-category {
  font-size: 80px;
  color: @gray-lighter;
}

.mock-image-provider {
  font-size: @font-size-h4;
  color: @gray-lighter;
  position: absolute;
  left: 12px;
  bottom: 7px;
}

// .image-mock-loader {
//   background-color: #eee;
//   height: 120px;
//   font-size: @font-size-h1;
//   text-align: center;
//   padding-top: 30px;
//   color: @gray-light;
// }

.category {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ddd;
  &:hover {
    color: #aaa;
  }
}

.header h3 {
  margin: 0;
  font-size: 20px;
  max-height: 67px;
  overflow: hidden;
}

.summary {
  font-size: 16px;
  margin: 8px 0px;
}

.dot-separator > *:not(:first-child)::before {
  content: '\002022';
  margin: 0px 4px;
}
.dot-separator {
  .text-overflow();
}

.published {
  vertical-align: middle;
  font-size: @font-size-base;
}

.footer {
  position: absolute;
  bottom: 5px;
  left: @panel-body-padding;
  right: 10px;
  > a:first-child {
    padding-left: 0;
  }
  a:hover,
  button:hover {
    color: @link-color;
  }
}

.fb-follow {
  background-color: #3b5998;
  color: white;
}

.fb-follow-header {
  text-align: center;
  font-size: @font-size-h1;
  padding: 65px 0px;
}

.sub-header {
  margin-top: 10px;
  small {
    color: #ddd;
  }
}

.follow-plugin {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  background-color: white;
  padding: 15px 5px 10px 5px;
}

.article-box-sm-panel {
  margin: 0;
}

.article-box-md-panel {
  margin: 0;
  padding: 0;
  height: 320px;
  background-color: inherit;
  border: initial;
  overflow: hidden;
  :global {
    .caption {
      padding: 10px 15px;
    }
    img {
      height: @image-height-md !important;
      width: 100% !important;
    }
  }
}

@media (max-width: @screen-xs-min) {
  .dot-separator-md * {
    font-size: 14px;
  }
}
