@import (reference) "../../less/index.less";

.article {
  width: 270px;
  height: 500px;
  position: relative;
  white-space: normal;
}

.image > img {
  width: 100%;
}

.header h3 {
  margin: 0;
  font-size: 20px;
}

.summary {
  font-size: 16px;
  margin: 8px 0px;
}

.dot-separator::before {
  content: '\002022';
  margin: 0px 4px;
}

.footer {
  position: absolute;
  bottom: @panel-body-padding;
  left: @panel-body-padding;
  > a:first-child {
    padding-left: 0;
  }
  a:hover {
    color: @link-color;
  }
}
